<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Layout page</title>
    <th:block th:include="~{/fragments/header :: links}"></th:block>



</head>
<body>


<div sec:authorize="${!isAuthenticated()}" th:replace="~{fragments/nav-bars :: default-nav-bar}"></div>

<div sec:authorize="hasAuthority('ADMIN')" th:replace="~{fragments/nav-bars :: admin-nav-bar}"></div>

<div sec:authorize="hasAuthority('USER')" th:replace="~{fragments/nav-bars :: user-nav-bar}"></div>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>


<div th:replace="~{fragments/footer :: footer}"></div>


<div th:replace="~{fragments/header :: scripts}"></div>

</body>
</html>