<html
        xmlns:th="http://www.thymeleaf.org">


<head>

    <th:block th:fragment="links">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/app.css" th:href="@{~/css/app.css}">

        <script src="/static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
    </th:block>

</head>
<body>
<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>

</th:block>

</body>
</html>