<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="/layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
</head>
<body>

<section layout:fragment="content">
    Logged user: <span sec:authentication="name">Bob</span>
    <div sec:authorize="hasAuthority('ADMIN')">
        widoczne tylko dla admina.
    </div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        widoczne tylko dla admina.
    </div>

    <div class="container text-center">
        <img style="opacity: 0.5; border-radius: 30px;" class="img-fluid" alt="Responsive image" src="https://nationalzoo.si.edu/sites/default/files/styles/slide_1400x700/public/support/adopt/giantpanda-03.jpg">
        <h1>3</h1>
    </div>

</section>

Registration:
<a th:href="@{/auth/registration}">here</a>
Footer:
<a th:href="@{fragments/footer}">Footer</a>











</body>
</html>